body {
	background: white;
	margin: 0;
	padding:0;
	text-align:center;
	font-family: $font-georgia;
	div#page {
		margin:0;
		padding: 0;
		width: 100%;
	}
	h1, h2 {
		font-weight: normal;
	}
	img {
		border: 0; // ie fix
	}
	section#latest {
		article.sport .category 			{ color: $category-sport-color; }
		article.luxembourg .category 		{ color: $category-luxembourg-color; }
		article.lifestyle .category 		{ color: $category-lifestyle-color; }
		article.internatinal .category 		{ color: $category-international-color; }
	}
}