div#page footer {
	margin: 50px 0 0 0;
	width: 100%;
	text-align: center;
	header ul {
		@include clearfix;
		background: $dark-yellow;
		display: block;
		list-style: none;
		padding: 0 0 0 10px;
		height: 30px;
		line-height: 30px;
		li {
			display: inline;
			margin: 10px 0;
			padding: 0 0 0 10px;
			a {
				font: 12px $font-arial;
				text-decoration: none;
				text-transform: uppercase;
				color: white;
				padding: 15px 0;
			}
		}
		li:nth-child(1) {
			border-right: 1px solid white;
			padding: 0 10px 0 0;
		}
	}
	nav {
		width: auto;
		padding: 0 0 20px 0;
		border-bottom: 1px dotted black;
		h1 {
			font: 14px $font-arial;
			color: $soft-black;
			margin: 10px 0;
			clear: both;
		}
		ul {
			display:block;
			width: 70%;
			margin: 10px auto 0 auto;
			li {
				display: inline;
				margin: 0 10px 0 0;
				a {
					font: 12px $font-arial;
					color: $dark-grey;
					text-decoration: none;
				}
				a:hover {
					text-decoration: underline;
				}
			}
		}
	}
	img#footerlogo {
		margin: 20px 0;
		width: 250px;
	}
}