body div#page div#content {
	section#latest {
		article.sport .category 			{ color: $category-sport-color; }
		article.luxembourg .category 		{ color: $category-luxembourg-color; }
		article.lifestyle .category 		{ color: $category-lifestyle-color; }
		article.internatinal .category 	{ color: $category-international-color; }
		article {
			border-bottom: 1px dotted #000;
			padding: 20px 0;
			text-align: left;
			header {
				padding: 0 10px 0 10px;
				h1 {
					font: 24px $font-georgia;
					margin: 0 0 10px 0;
					a {
						color: rgb(68, 68, 68);
						text-decoration:none;
					}
				}
				.category {
					font: 10px $font-helvetica;
					text-transform: uppercase;
					padding: 0 0 0 2px;
				}
			}
			img {
				display:none;
			}
			p, ul {
				padding: 10px 10px;
				font: 13px $font-georgia;
				a, li {
					color: rgb(70, 70, 70);
					text-decoration:none;
				}
				li {
					list-style-image: url('../images/en/square.gif');
					margin: 0 0 0 15px;
				}
			}
		}
		article:nth-child(1) img {
			display: block;
			width: 100%;
		}
		article:nth-last-child(1) {
			border: none;
		}
	}
	div#side, section#categories {
		display: none;
	}
	
}