@media #{$breakpoint-phone} {
	 body div#page > header {
		background: url('../images/olympia2012s.jpg') 5px 17px no-repeat;
		div#top {
			span#subscription {
				display:none;
			}
			span#language {
				display:none;
			}
			span#search {
				display:none;
			}
		}
		img#logo {
			width: 125px;
			margin: 5px 0 0 0;
		}
		time {
			color: $dark-grey;
			font-size: 11px;
			display: block;
		}
		nav#main-nav {
			span {
				margin: 10px 0 0 0;
				height: 40px;
				line-height: 40px;
				display: block;
				border-top: 1px solid $soft-grey;
				border-bottom: 1px solid $soft-grey;
				a {
					border-bottom: 1px;
					width: 100%;
					padding: 10px 20px 10px 10px;
					text-decoration: none;
					font-family: $font-helvetica;
					font-size: 11px;
					text-transform: uppercase;
					color: black000;
					font-weight: bold;
				}
			}
			ul {
				display: none;
				margin: 0;
				padding: 0;
				list-style:none;
				li {
					width: 100%;
					text-align: left;
					a {
						color: $dark-grey;
						font-size: 14px;
						line-height: 30px;
						height: 30px;
						width: 100%;
						display: block;
						text-decoration: none;
						border-bottom: 1px solid $dark-grey;
						padding: 0 0 0 10px;
					}
					a:hover {
						background: $soft-grey;
					}
				}
			}
		}
		
		nav#sub-nav {
			ul {
				display: none;
			}
		}
	}
	
	div#page div#content {
		section#latest {
			
			article {
				border-bottom: 1px dotted black;
				padding: 20px 0;
				text-align: left;
				header {
					padding: 0 10px 0 10px;
					h1 {
						font-size: 24px;
						font-weight: normal;
						margin: 0 0 10px 0;
						a {
							color: $soft-black;
							text-decoration:none;
						}
					}
					.category {
						font: 10px $font-helvetica;
						text-transform: uppercase;
						padding: 0 0 0 2px;
					}
				}
				img {
					display:none;
				}
				p, ul {
					padding: 10px 10px;
					font-size: 13px;
					a, li {
						color: $soft-black;
						text-decoration:none;
					}
					li {
						list-style-image: url('../images/en/square.gif');
						margin: 0 0 0 15px;
					}
				}
			}
			article:nth-child(1) img {
				display: block;
				width: 100%;
			}
			article:nth-last-child(1) {
				border: none;
			}
		}
		div#side, section#categories {
			display: none;
		}
	}
	div#page footer {
		margin: 50px 0 0 0;
		width: 100%;
		text-align: center;
		header ul {
			@include clearfix;
			background: $dark-yellow;
			display: block;
			list-style: none;
			padding: 0 0 0 10px;
			height: 30px;
			line-height: 30px;
			li {
				display: inline;
				margin: 10px 0;
				padding: 0 0 0 10px;
				a {
					font: 12px $font-arial;
					text-decoration: none;
					text-transform: uppercase;
					color: white;
					padding: 15px 0;
				}
			}
			li:nth-child(1) {
				border-right: 1px solid white;
				padding: 0 10px 0 0;
			}
		}
		nav {
			width: auto;
			padding: 0 0 20px 0;
			border-bottom: 1px dotted black;
			h1 {
				font: 14px $font-arial;
				color: $soft-black;
				margin: 10px 0;
				clear: both;
			}
			ul {
				display:block;
				width: 70%;
				margin: 10px auto 0 auto;
				li {
					display: inline;
					margin: 0 10px 0 0;
					a {
						font: 12px $font-arial;
						color: $dark-grey;
						text-decoration: none;
					}
					a:hover {
						text-decoration: underline;
					}
				}
			}
		}
		img#footerlogo {
			margin: 20px 0;
			width: 250px;
		}
	}
}