/* Fonts */
$font-helvetica: Helvetica, Arial, sans-serif;
$font-georgia: georgia, arial, serif;
$font-arial: arial, serif;

/* Categories Colors */
$category-sport-color: 			rgb(175, 32, 37); 	/* red  	*/
$category-culture-color: 		rgb(237, 109, 35);  /* orange 	*/
$category-luxembourg-color: 	rgb(42, 98, 182);   /* blue 	*/
$category-lifestyle-color: 		rgb(165, 77, 156);	/* purple 	*/
$category-business-color: 		rgb(57, 77, 161);   /* blue 	*/
$category-international-color: 	rgb(55, 132, 63);   /* green 	*/
$category-community-color: 		rgb(252, 193, 17);  /* yellow 	*/
$category-people-color: 		rgb(205, 19, 136);  /* pink 	*/



@mixin header-top-text {
	font: {
		family: $font-georgia;
	} 
	color: rgb(128, 128, 128);
}